.button {
    -fx-background-color: 
        linear-gradient(#32CD32, #32CD32),
        linear-gradient(#32CD32 0%,     #32CD32,    #32CD32 100%),
        linear-gradient(#32CD32 0%, #32CD32 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: 
        linear-gradient(white, white),
        linear-gradient(white 0%,     white,    white 100%),
        linear-gradient(white 0%, white 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: #32CD32;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#supprimerRec
{
    -fx-background-color: 
        linear-gradient(red, red),
        linear-gradient(red 0%,     red,    red 100%),
        linear-gradient(red 0%, red 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#supprimerRec:hover
{
    -fx-background-color: 
        linear-gradient(white, white),
        linear-gradient(white 0%,     white,    white 100%),
        linear-gradient(white 0%, white 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: red;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.supprimer
{
    -fx-background-color: red;
    -fx-background-radius: 8,7,6;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}
.supprimer:hover
{
    -fx-background-color: #1866e2;
    -fx-background-radius: 8,7,6;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}
.historiquePaiement
{
    -fx-background-color: #3882f7;
    -fx-background-radius: 8,7,6;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}
.historiquePaiement:hover
{
    -fx-background-color: #2f68c4;
    -fx-background-radius: 8,7,6;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}
.menuButton
{
	-fx-background-color:#bfd6ad;
	-fx-text-fill: #017c00;
	-fx-background-radius: 0;
    -fx-background-insets: 0;
	-fx-border: 0;
	-fx-effect: none;
	-fx-border-color: #00AB47;
	-fx-border-width: 1 0;
}
.menuButton:hover
{
	-fx-background-color: #f4f4f4;
	-fx-text-fill: #017c00;
	-fx-background-radius: 0;
    -fx-background-insets: 0;
	-fx-border: 0;
	-fx-effect: none;
	-fx-border-color: #00AB47;
	-fx-border-width: 1 0;
}
.table 
{
        -fx-base: transparent;
     -fx-background-color: transparent;
    -fx-background-radius: 0.0;
    -fx-background-insets: 0.0;
    -fx-padding: 0.0;
}
.table-langues *.scroll-bar:horizontal *.increment-button,
.table-langues *.scroll-bar:horizontal *.decrement-button {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.table-langues *.scroll-bar:horizontal *.increment-arrow,
.table-langues *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
}
.ajouterBack
{
	-fx-background-color:  #008000;
	-fx-text-fill: #f8f7f7;
	-fx-font-size: 14px;
	-fx-pref-height: 25px;
    -fx-pref-width: 128px;
    -fx-font-weight: bold;
}
.ajouterBack:hover
{
	-fx-background-color:  #f8f7f7;
	-fx-text-fill: #008000;
	-fx-font-size: 14px;
	-fx-pref-height: 25px;
    -fx-pref-width: 128px;
    -fx-font-weight: bold;
}
.modifierBack
{
	-fx-background-color:   #4682B4;
	-fx-text-fill: #f8f7f7;
	-fx-font-size: 14px;
	-fx-pref-height: 25px;
    -fx-pref-width: 128px;
    -fx-font-weight: bold;
}
.modifierBack:hover
{
	-fx-background-color:   #f8f7f7;
	-fx-text-fill: #4682B4;
	-fx-font-size: 14px;
	-fx-pref-height: 25px;
    -fx-pref-width: 128px;
    -fx-font-weight: bold;
}
.supprimerBack
{
	-fx-background-color:   #FF0000;
	-fx-text-fill: #f8f7f7;
	-fx-font-size: 14px;
	-fx-pref-height: 25px;
    -fx-pref-width: 128px;
    -fx-font-weight: bold;
}
.supprimerBack:hover
{
	-fx-background-color:   #f8f7f7;
	-fx-text-fill: #FF0000;
	-fx-font-size: 14px;
	-fx-pref-height: 25px;
    -fx-pref-width: 128px;
    -fx-font-weight: bold;
}
.mdpOublie {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-effect: none;
}
.mdpOublie:hover {
    -fx-text-fill: #898989;
    -fx-effect: none;
}
.openFile
{
	-fx-background-color:   #9dff70;
	-fx-text-fill: #f8f7f7;
	-fx-font-size: 14px;
	-fx-pref-height: 25px;
    -fx-pref-width: 158px;
    -fx-font-weight: bold;
}
.greenFront {
    -fx-background-color: 
        linear-gradient(#32CD32, #32CD32),
        linear-gradient(#32CD32 0%,     #32CD32,    #32CD32 100%),
        linear-gradient(#32CD32 0%, #32CD32 50%);
    -fx-font-weight: bold;    
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-font-size: 14px;
	-fx-pref-height: 25px;
    -fx-pref-width: 158px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.greenFront:hover {
    -fx-background-color: 
        linear-gradient(white, white),
        linear-gradient(white 0%,     white,    white 100%),
        linear-gradient(white 0%, white 50%);
    -fx-font-weight: bold;    
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-font-size: 14px;
	-fx-pref-height: 25px;
    -fx-pref-width: 158px;
    -fx-text-fill: #32CD32;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.redFront {
    -fx-background-color: 
        linear-gradient(#FF0000, #FF0000),
        linear-gradient(#FF0000 0%,     #FF0000,    #FF0000 100%),
        linear-gradient(#FF0000 0%, #FF0000 50%);
    -fx-font-weight: bold;    
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-font-size: 14px;
	-fx-pref-height: 25px;
    -fx-pref-width: 158px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.redFront:hover {
    -fx-background-color: 
        linear-gradient(white, white),
        linear-gradient(white 0%,     white,    white 100%),
        linear-gradient(white 0%, white 50%);
    -fx-font-weight: bold;    
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-font-size: 14px;
	-fx-pref-height: 25px;
    -fx-pref-width: 158px;
    -fx-text-fill: #FF0000;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.table-historique .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.table-historique .column-header {
    -fx-background-color: none;
	-fx-border-color: #00AB47;
	-fx-border-width: 1 1;
}
.table-historique *.scroll-bar:vertical *.increment-button,
.table-historique *.scroll-bar:vertical *.decrement-button {
  -fx-background-color: transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}

.table-historique *.scroll-bar:vertical *.increment-arrow,
.table-historique *.scroll-bar:vertical *.decrement-arrow {
  -fx-background-color: white;
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}
.table-historique *.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}
.table-historique *.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.table-historique *.scroll-bar .increment-arrow,
.table-historique *.scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
}