#noter
{
    -fx-background-color: 
        linear-gradient(#32CD32, #32CD32),
        linear-gradient(#32CD32 0%,     #32CD32,    #32CD32 100%),
        linear-gradient(#32CD32 0%, #32CD32 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#noter:hover
{
    -fx-background-color: 
        linear-gradient(white, white),
        linear-gradient(white 0%,     white,    white 100%),
        linear-gradient(white 0%, white 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: #32CD32;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#modifier_note
{
    -fx-background-color: 
        linear-gradient(#32CD32, #32CD32),
        linear-gradient(#32CD32 0%,     #32CD32,    #32CD32 100%),
        linear-gradient(#32CD32 0%, #32CD32 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#modifier_note:hover
{
    -fx-background-color: 
        linear-gradient(white, white),
        linear-gradient(white 0%,     white,    white 100%),
        linear-gradient(white 0%, white 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: #32CD32;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.accueil
{
    -fx-background-color: 
        linear-gradient(#32CD32, #32CD32),
        linear-gradient(#32CD32 0%,     #32CD32,    #32CD32 100%),
        linear-gradient(#32CD32 0%, #32CD32 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.accueil.hover
{
     -fx-background-color: 
        linear-gradient(white, white),
        linear-gradient(white 0%,     white,    white 100%),
        linear-gradient(white 0%, white 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: #32CD32;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}